$header-height: 50px;

header{
    font-family: 'Inter';
    &.navbar{
        min-height: $header-height; 
        width: 100%;
    }
    & .brand{
        font-size: 20px;
        font-weight: 600;
    }
}

.menu{
    position: relative;
}

.submenu{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    background: rgba(255, 255, 255, 0.05);
    z-index: 1000;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shown{
    display: flex;
}





